/* 0 */
* { 
    color: orange;
    margin: 0;
}

/* 1 */
div {
    color: palegreen;
}

/* 1 */
p {
    color: purple;
}

/* 1 + 10 = 11 */
h1.heading {
    color:teal;
}

/* 1 + 1 = 2 */
div h1{
    color: tomato;
}

/* 1 + 1 = 2 */
div h1{
    color: tomato;
}

/* 1 + 10 + 10 = 21 */
h1.heading:nth-child(1) {
    color: turquoise;
}

h1.heading:first-child {
    color: lightseagreen;
}

h1.heading:last-child {
    color: brown;
}

a:hover{
    color: red;
    text-decoration: none;
}

div p {
    background: yellowgreen;
}
div > p {
    background: turquoise;
}

div > section > p > section > p {
    background: violet;
}
/* 100 + 1 = 101 */
#vikas + p {
    color: thistle !important;
}

#vikas + p {
    color: red !important;
}

/* 
100 students

50 boys
    10 - Agrade boys - green
        vikas - red
    20 - Bgrage boys - indigo
    20 - remaining - blue

50 girls - white


students {
    color: white;
}

boys {
    color: blue;
}

Agrade-boys {
    color: green;
}
Agrade-boys:last-child {
    color: green;
}

Bgrage-boys {
    color: indigo;
}

#vikas{
    color: red;
} */

/* white: #ff0000
black: #000000 */