.flex {
    display: flex;
}

.j-c {
    justify-content: center;
}

.j-b {
    justify-content: space-between;
}

.i-c {
    align-items: center ;
}

.a-i{
    align-items: center;
}

 .flex1{
     flex: 1;
 }

 

    